.form {
padding: 25px 150px 30px;
margin-bottom: 100px;
}

h1 {
  text-align: center;
}

.back-img {
  background-image: url("https://images.unsplash.com/photo-1527271982979-83fea3eb3582?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
}
